.search {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px 0;
}

.search .input-wrapper {
  position: relative;
}

.search .input-wrapper .fa-search {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 16px;
}
